@import url('https://fonts.googleapis.com/css?family=Abel|Lobster');
*{
    box-sizing: border-box;
}
:root{
    --bghead-color:#2B78E4;
    --bgbody-color:#EEE;
    --bg-color:#FFF;
    --viol-color:#6C63FF;
    --gray-color:#F4F4F4;
    --other-color:#F55F44;
    --w4:20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    color: #000 
}
.container{
    background-color: var(--bgbody-color);
}
.survey-head{
    background-color: var(--bghead-color);
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 40px;
    min-height: 40vh;
    width: 100%;
    position: relative;
}
.secret-logo{
    height: auto;
    width: 20vw ;
    position: absolute;
    top: -10vw;
    left: -8vw;
}    
.survey-logo{
    max-width: 200px;
    width: auto;
    display: block;
    margin: auto;
}
.check-status{
    position: relative;
}
.illustration{
    position: absolute;
    bottom: 0;
    right: -17vw;
    width: 25vw;
    min-width: 140px;
}
#title{
    position: relative;
    top: -35px;
    color: var(--bg-color);
    text-shadow: 0px 0px 15px black;
}
.survey-body{
    position: relative;
    z-index: 100;
    height: auto;
    width: 80vw;
    border: 1px solid transparent;
    margin: -55px auto 0px;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-color);
}
input[type="text"],input[type="email"],input[type="number"],select{
    height: 25px;
    width: 100%;
}
input[type="radio"]:checked,.checktext:hover{
   background: var(--bghead-color);
   color: var(--bg-color)
}
input[type="text"]:focus,input[type="email"]:focus,input[number]:focus{
    background: var(--bghead-color);
    opacity: .9;
    color: var(--bg-color);
    height: 25.5px;
}
.recommend-status{
    text-align: left;
}
.check-status{
    display: block;
    float: left;
    width: 270px;
    text-align: left;
}
.clear{
    clear: both;
}
.field-end{
    display: flex;
    justify-content: center;
}
.field-end>p{
   width: 600px;
}
.check-status label{
    display: block;
} 
 [type="submit"]{
    background-color: var(--bghead-color);
    color: var(--bg-color);
    padding: 10px;
    min-width: 10vw;
    margin-bottom: 20px;
}
.heart{
    background: red;
    display: inline-block;
    position: relative;
    height: var(--w4);
    width: var(--w4);
    margin: calc(var(--w4)/6);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.heart::before,.heart::after{
    content: '';
    background: red;
    display: block;
    position: absolute;
    height: var(--w4);
    width:  var(--w4);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.heart::before{
    right: calc(var(--w4)/2) ;
}
.heart::after{
    bottom: calc(var(--w4)/2) ;

}
.footer{
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 50px;
    color: var(--bghead-color);
    text-shadow: 0px 0px 30px black;
}

@media (max-width:514px){
    .survey-head{      
        padding: 5vh;
        height: 50vh;
        width: 100%;

    }
    .field{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
    }
#title{
        font-size: 1.2em;
    }
    .survey-body{
        width: 90vw;
    }
}

@media (min-width:900px){
    .field{
        margin: 40px 0px;
    }
    .label{
        display: block;
        float: left;
       width:48%;
       line-height: 25px;
       text-align: right;
       margin-right: 30px;
    }
    .label1{
        display: inline-block;
        width:400px;
    }
    
    input[type="text"],input[type="email"],input[type="number"],select,textarea{
        max-width: 250px;
        display: block;
       
    }
  
    
}
